.header {
    height: 10%;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
}

.logo {
    position: absolute;
    top: 1%;
    left: 2%;
    margin: 0%;
    cursor: pointer;
    font-size: 30px;
}

.main_menu {
    position: absolute;
    top: 1.5;
    right: 1%;
    width: 60%;
}

.text {
    color: black;
    display: flex;
    text-align: center;
    width: 130px;
    height: 35px;
    font-family: 'S-CoreDream-3Light';
    font-size: 25px;
    margin: 2%;
    float: left;
    text-decoration-line: none;
    justify-content: center;
}

.sub_menu {
    position: absolute;
    top: 8%;
    right: 0%;
    width: 100%;
    height: 10%;
    background-color: white;
    opacity: 0.8;
}

.cal1 {
    position: relative;
    top: 8%;
    left: 39.5%;
    width: 10%;
    height: 20%;
    color: gray;
    background: white;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    border: none;
    cursor: pointer;
}

.cal2 {
    position: relative;
    top: 50%;
    left: 29%;
    width: 10%;
    height: 20%;
    color: gray;
    background: white;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    border: none;
    cursor: pointer;
}

.game1 {
    position: relative;
    top: 10%;
    left: 41.8%;
    width: 10%;
    height: 20%;
    color: gray;
    background: white;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    border: none;
    cursor: pointer;
}

.game2 {
    position: relative;
    top: 50%;
    left: 31.4%;
    width: 10%;
    height: 20%;
    color: gray;
    background: white;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    border: none;
    cursor: pointer;
}

.login1 {
    position: relative;
    top: 10%;
    left: 44%;
    width: 10%;
    height: 20%;
    color: gray;
    background: white;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    border: none;
    cursor: pointer;
}

.login2 {
    position: relative;
    top: 50%;
    left: 33.8%;
    width: 10%;
    height: 20%;
    color: gray;
    background: white;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    border: none;
    cursor: pointer;
}

.main_menu:hover~.sub_menu {
    display: block;
}

.sub_menu:hover {
    display: block;
}

.sub_menu {
    display: none;
}
