@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1.5s;
}

.container {
  width: 100%;
  height: 100%;
}

.container:nth-child(1) {
  background-color: #F4F4F4;
}

.container:nth-child(2) {
  background-color: #F4F4F4;
}

.container:nth-child(3) {
  background-color: #F4F4F4;
}

.container:nth-child(4) {
  background-color: #F4F4F4;
}

.container:nth-child(5) {
  background-color: #F4F4F4;
}

.container:nth-child(6) {
  background-color: #F4F4F4;
}

.container:nth-child(7) {
  background-color: #F4F4F4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  background-color: #ffd700;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

.welcome {
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 30%;
  font-family:'S-CoreDream-3Light';
}

.new-label {
  height: 10%;
  width: 8%;
  background-color: #ffd700;
  padding: 1px 2px;
  border-radius: 50px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1%;
  left: 11%;
  z-index: 2;
  font-family:'S-CoreDream-3Light';
}

.new-label2 {
  height: 10%;
  width: 30%;
  background-color: #D1D5DB;
  border-radius: 50px;
  padding: 3px 5px;
  position: absolute;
  top: 0%;
  left: 10%;
}

.welcome-text {
  width: 130%;
  font-size: 18px;
  padding-left: 5%;
  font-family:'S-CoreDream-3Light';
}

.main-title {
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
  position: absolute;
  top: 52%;
  left: 2%;
  font-family:'S-CoreDream-3Light';
}

.subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 100px;
  margin-top: 20px;
  position: absolute;
  top: 70%;
  left: 2%;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#logo {
  width: 30%;
  height: auto;
  position: absolute;
  top: 20%;
  right: 10%;
}

.introduce {
  width: 100%;
  position: absolute;
  top: 95%;
  left: 50%;
  margin-left: -50%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'S-CoreDream-3Light';
}

.activity-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 115%;
  left: 57%;
  margin-left: -50%;
  width: 86%;
  justify-content: center;
  height: 72%;
  font-family:'S-CoreDream-3Light';
}

.side-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  left: -5%;
  top: 5%;
  background-color: #fff;
}

.icon {
  position: absolute;
  top: 5%;
  width: 95%;
  height: auto;
}

.intro-text {
  width: 87%;
  position: absolute;
  top: 171%;
  left: 58%;
  margin-left: -50%;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  border-top: 2px dashed #000;
  font-family:'S-CoreDream-3Light';
}

.activity-box2 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 215%;
  left: 5%;
  width: 40%;
  justify-content: center;
  height: 72%;
  font-family:'S-CoreDream-3Light';
}

.intro-text2 {
  width: 87%;
  position: absolute;
  top: 80%;
  left: 58%;
  margin-left: -50%;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  border-top: 2px dashed #000;
  font-family:'S-CoreDream-3Light';
  z-index: 2;
}

.activity-box3 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 215%;
  right: 5%;
  width: 40%;
  justify-content: center;
  height: 72%;
  font-family:'S-CoreDream-3Light';
}

.intro-text3 {
  width: 87%;
  position: absolute;
  top: 80%;
  left: 58%;
  margin-left: -50%;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  border-top: 2px dashed #000;
  font-family:'S-CoreDream-3Light';
  z-index: 2;
}

.activity-box4 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 315%;
  left: 5%;
  width: 40%;
  justify-content: center;
  height: 72%;
  font-family:'S-CoreDream-3Light';
}

.intro-text4 {
  width: 87%;
  position: absolute;
  top: 80%;
  left: 58%;
  margin-left: -50%;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  border-top: 2px dashed #000;
  font-family:'S-CoreDream-3Light';
  z-index: 2;
}

.activity-box5 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 315%;
  right: 5%;
  width: 40%;
  justify-content: center;
  height: 72%;
  font-family:'S-CoreDream-3Light';
}

.intro-text5 {
  width: 87%;
  position: absolute;
  top: 80%;
  left: 58%;
  margin-left: -50%;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  border-top: 2px dashed #000;
  font-family:'S-CoreDream-3Light';
  z-index: 2;
}
