@font-face {
  font-family: 'MinSans-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.wrap {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1.5s;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container:nth-child(1) {
  background-color: #F4F4F4;
}

.container:nth-child(2) {
  background-color: #F4F4F4;
}

.container:nth-child(3) {
  background-color: #ffffff;
}

.container:nth-child(4) {
  background-color: #F4F4F4;
}

.container:nth-child(5) {
  background-color: #F4F4F4;
}

.container:nth-child(6) {
  background-color: #F4F4F4;
}

.one_section::before {
  content: "";
  background: url(/img/index/index.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.welcome {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 40%;
  left: 0%;
}

.welcome>p {
  text-align: center;
  font-family: 'MinSans-Regular';
  color: #ffffff;
}

.two_section {
  border-radius: 15px;
}

.title {
  color: #333;
  font-size: 4em;
  margin: 3%;
}

.two_title {
  color: #333;
  font-size: 2.5em;
  margin: 3%;
}

.intro_card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.intro_card {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 300px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

.intro_card>p {
  margin-top: -30%;
}

.intro_card:hover {
  transform: translateY(-10px);
}

.intro_card2 {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 300px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15%;
}

.intro_card2>p {
  margin-top: -30%;
}

.intro_card2:hover {
  transform: translateY(-10px);
}

.icon {
  height: 50px;
  margin: 20px 0;
}

.Awards {
  width: 100%;
  height: 11%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'S-CoreDream-3Light';
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
  padding: 2%;
  background-color: white;
}

.card {
  height: 88%;
  margin-top: 0%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card .author {
  font-weight: bold;
}

.card .date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.card .content {
  width: 100%;
  height: auto;
  z-index: 2;
}

.show-more {
  margin-top: 0%;
  background-color: white;
}

.show-more button {
  margin-left: 45%;
  background: #FCD363;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.show-more button:hover {
  background: #ffc423;
}

.Join {
  width: 100%;
  height: 11%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'S-CoreDream-3Light';
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #666;
}

.cards2 {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card2 {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 25%;
  height: 50%;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
}

.shape2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.see-more {
  color: #FCD363;
  text-decoration: none;
  font-weight: bold;
}

.see-more:hover {
  text-decoration: underline;
}

.image {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

footer {
  background-color: rgb(54, 54, 54);
  height: 25%;
  position: relative;
  transform: translateY(-100%);
}

#first {
  width: 10%;
  position: absolute;
  top: 1%;
  right: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#first>p {
  font-size: 18px;
}

#first>a {
  font-size: 13px;
  color: white;
  margin: 4% 0%;
  text-decoration-line: none
}

#second {
  width: 10%;
  position: absolute;
  top: 7%;
  right: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#second>a {
  font-size: 18px;
  color: white;
  margin: 4% 0%;
  text-decoration-line: none
}

#third {
  width: 10%;
  position: absolute;
  top: 1%;
  right: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#third>p {
  font-size: 18px;
}

#third>a {
  font-size: 13px;
  color: white;
  margin: 4% 0%;
  text-decoration-line: none
}

#fourd {
  width: 10%;
  position: absolute;
  top: 1%;
  right: 0%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#fourd>p {
  font-size: 18px;
}

#fourd>a {
  font-size: 13px;
  color: white;
  margin: 4% 0%;
  text-decoration-line: none
}

#p1 {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 5%;
  left: 2%;
  color: rgb(186, 186, 186);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-size: 12px;
}

footer > hr {
  width: 40%;
  position: absolute;
  top: 60%;
  left: 2%;
  color: rgb(56, 56, 56);
  border-width: 1px 0 0 0;
}

#p2 {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 70%;
  left: 2%;
  color: gray;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  font-size: 12px;
}

@media (max-width: 768px) {

  .welcome {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 0%;
  }

  .welcome>p {
    text-align: center;
    font-family: 'MinSans-Regular';
    color: #ffffff;
  }

  .two_section {
    border-radius: 15px;
  }

  .title {
    color: #333;
    font-size: 3em;
    margin: 3%;
  }

  .two_title {
    color: #333;
    font-size: 2.5em;
    margin: 4%;
  }

  .intro_card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .intro_card {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 200px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 1% 1% 1%;
  }

  .intro_card>p {
    margin-top: -20%;
    font-size: small;
  }

  .intro_card:hover {
    transform: translateY(-10px);
  }

  .intro_card2 {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 200px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 1% 1% 1%;
  }

  .intro_card2>p {
    margin-top: -20%;
    font-size: small
  }

  .intro_card2:hover {
    transform: translateY(-10px);
  }

  .icon {
    height: 50px;
    margin: 20px 0;
  }

  .Awards {
    width: 100%;
    height: 11%;
    font-size: 2.5rem;
    font-family: 'S-CoreDream-3Light';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: flex;
    gap: 10px;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;

  }

  .card {
    height: 30%;
    width: 40%;
    margin-top: 0%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
  }

  .shape {
    position: absolute;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card .author {
    font-weight: bold;
  }

  .card .date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
  }

  .card .content {
    width: 100%;
    height: auto;
    z-index: 2;
  }

  .show-more {
    margin-top: 0%;
  }

  .show-more button {
    width: 21%;
    height: 5%;
    position: absolute;
    top: 205%;
    right: 3%;
    background: #FCD363;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-more button:hover {
    background: #ffc423;
  }

  .Join {
    width: 100%;
    height: 11%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #666;
  }

  .cards2 {
    width: 100%;
    margin: 4% 0%;
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    align-items: center;
  }

  .card2 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 400px;
    height: 100px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
    margin: 1% 2% 1% 2%;
    display: flex;
  }

  .card2>p {
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .shape2 {
    font-size: 5rem;
    margin-bottom: 10px;
  }


  h2 {
    font-size: 2rem;
    display: flex;

  }

  .see-more {
    width: 100%;
    color: #FCD363;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 70%;
    bottom: 10%;
  }

  .see-more:hover {
    text-decoration: underline;
  }

  footer {
    background-color: rgb(54, 54, 54);
    height: 20%;
    position: relative;
    transform: translateY(-100%);
  }
  
  #first {
    width: 15%;
    position: absolute;
    top: 1%;
    right: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #first>p {
    font-size: 15px;
  }
  
  #first>a {
    font-size: 10px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #second {
    width: 15%;
    position: absolute;
    top: 8%;
    right: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #second>a {
    font-size: 15px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #third {
    width: 15%;
    position: absolute;
    top: 1%;
    right: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #third>p {
    font-size: 15px;
  }
  
  #third>a {
    font-size: 10px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #fourd {
    width: 15%;
    position: absolute;
    top: 1%;
    right: 1%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #fourd>p {
    font-size: 15px;
  }
  
  #fourd>a {
    font-size: 10px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #p1 {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 5%;
    left: 2%;
    color: rgb(186, 186, 186);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 10px;
  }
  
  footer > hr {
    width: 40%;
    position: absolute;
    top: 60%;
    left: 2%;
    color: rgb(56, 56, 56);
    border-width: 1px 0 0 0;
  }
  
  #p2 {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 70%;
    left: 2%;
    color: gray;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1222px) {
  .intro_card-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }

  .intro_card {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 1% 1% 1%;
  }

  .intro_card>p {
    margin-top: -10%;
  }

  .intro_card:hover {
    transform: translateY(-10px);
  }

  .intro_card2 {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 1% 1% 1%;
  }

  .intro_card2>p {
    margin-top: -10%;
  }

  .intro_card2:hover {
    transform: translateY(-10px);
  }

  .icon {
    height: 50px;
    margin: 20px 0;
  }

  .Join {
    width: 100%;
    height: 11%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #666;
  }

  .cards2 {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .card2 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 25%;
    height: 50%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
  }

  .shape2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .show-more {
    margin-top: 0%;
  }

  .show-more button {
    width: 21%;
    height: 5%;
    position: absolute;
    top: 205%;
    right: 3%;
    background: #FCD363;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-more button:hover {
    background: #ffc423;
  }

  .see-more:hover {
    text-decoration: underline;
  }

  .image {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }

  footer {
    background-color: black;
    height: 20%;
    position: relative;
    transform: translateY(-100%);
  }
}

@media (min-width: 770px) and (max-width: 1434px) {
  .show-more {
    margin-top: 0%;
  }

  .show-more button {
    width: 21%;
    height: 5%;
    position: absolute;
    top: 205%;
    right: 3%;
    background: #FCD363;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-more button:hover {
    background: #ffc423;
  }

  .see-more:hover {
    text-decoration: underline;
  }

  footer {
    background-color: rgb(54, 54, 54);
    height: 25%;
    position: relative;
    transform: translateY(-100%);
  }
  
  #first {
    width: 10%;
    position: absolute;
    top: 1%;
    right: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #first>p {
    font-size: 18px;
  }
  
  #first>a {
    font-size: 13px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #second {
    width: 10%;
    position: absolute;
    top: 8%;
    right: 18%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #second>a {
    font-size: 18px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #third {
    width: 10%;
    position: absolute;
    top: 1%;
    right: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #third>p {
    font-size: 18px;
  }
  
  #third>a {
    font-size: 13px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #fourd {
    width: 10%;
    position: absolute;
    top: 1%;
    right: 0%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #fourd>p {
    font-size: 18px;
  }
  
  #fourd>a {
    font-size: 13px;
    color: white;
    margin: 4% 0%;
    text-decoration-line: none
  }
  
  #p1 {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 5%;
    left: 2%;
    color: rgb(186, 186, 186);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 12px;
  }
  
  footer > hr {
    width: 40%;
    position: absolute;
    top: 60%;
    left: 2%;
    color: rgb(56, 56, 56);
    border-width: 1px 0 0 0;
  }
  
  #p2 {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 70%;
    left: 2%;
    color: gray;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 12px;
  }
}