@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

header {
    height: 10%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 5%;
    height: auto;
    margin: 0%;
}

.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -6%;
}

.menu {
    margin: 1%;
    width: 9%;
    background: white;
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    cursor: pointer;
    font-size: 120%;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
}

.login-button {
    position: relative;
    background: #ffd700;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 1%;
    width: 9%;
    padding: 0.5%;
    font-size: 100%;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
}

#menubar-cal1 {
    margin: 1%;
    width: 6%;
    background: white;
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    cursor: pointer;
    font-size: 93%;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
    border: 1px solid black;
    position: absolute;
    top: 5.3%;
    right: 45%;
    text-decoration-line: none;
    color: black;
}

#menubar-cal2 {
    margin: 1%;
    width: 6%;
    background: white;
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    cursor: pointer;
    font-size: 93%;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
    border: 1px solid black;
    position: absolute;
    top: 10.1%;
    right: 45%;
    text-decoration-line: none;
    color: black;
}

#menubar-game1 {
    margin: 1%;
    width: 6%;
    background: white;
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    cursor: pointer;
    font-size: 93%;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
    border: 1px solid black;
    position: absolute;
    top: 5.3%;
    right: 23%;
    text-decoration-line: none;
    color: black;
}

#menubar-game2 {
    margin: 1%;
    width: 6%;
    background: white;
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    cursor: pointer;
    font-size: 93%;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
    border: 1px solid black;
    position: absolute;
    top: 10.1%;
    right: 23%;
    text-decoration-line: none;
    color: black;
}